<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <section>
        <form method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for ="categories">Select your preferred categories:</label><br>
                {% for category in categories %}
                    <input type="checkbox" name="categories" value="{{category}}"> {{category}}<br>
                {% endfor %}
            </div>
            <div>
                <label for="ingredients">Select your preferred ingredients:</label><br>
                {% for ingredient in ingredients %}
                    <input type="checkbox" name="ingredients" value="{{ ingredient }}"> {{ ingredient }}<br>
                {% endfor %}
            </div>
            <button type="submit">Register</button>
        </form>
        
    </section>
</body>
</html>